<h1>Welcome!</h1>
<p>WASD is the way!<p>
<p>Otherwise, you can use buttons below!</p>

<div class="control_panel">
  <div id="video_stream" class="video_stream">
    <div class="placeholder">
      <p>Can't reach video, refresh the page or wait till nothing!</p>
    </div>
  </div>
  <div class="keyboard">
    <%= link_to "w", "#",  class: "drive_control button w", data: { drive_go: 1 } %>
    <%= link_to "a",  "#", class: "drive_control button a", data: { drive_turn: -1 } %>
    <%= link_to "s",  "#", class: "drive_control button s", data: { drive_go: -1 } %>
    <%= link_to "d", "#",  class: "drive_control button d", data: { drive_turn: 1 } %>
  </div>
</div>

<script type="text/javascript">

  // var webcam_server_uri = "http://192.168.1.3:8080";
  var webcam_server_uri = "http://<%= request.host %>:8080";

  $(document).on("keydown", function(e) { keyboardControl(e) });
  $(document).on("load", createImageLayer(webcam_server_uri));

  $(".drive_control").on("mousedown", function(e) {
    e.preventDefault();

    var buttonPressed = $(this);

    if($(this).data("driveGo") && !isGoing) {
      isGoing = true;
      $.get("/go?dir=" + $(this).data("driveGo"), function(data) {
        console.log(data);
        pressButton(1, undefined);
        buttonPressed.on("mouseup", function(e) {
          e.preventDefault();
          if(isGoing) {
            isGoing = false;
            $.get("/go?dir=0", function(data) {
              console.log(data);
              pressButton(0, undefined);
            });
          }
        });
      });
    }

    if($(this).data("driveTurn") && !isTurning) {
      isTurning = true;
      $.get("/turn?dir=" + $(this).data("driveTurn"), function(data) {
        console.log(data);
        pressButton(1, undefined);
        buttonPressed.on("mouseup", function(e) {
          e.preventDefault();
          if(isTurning) {
            isTurning = false;
            $.get("/turn?dir=0", function(data) {
              console.log(data);
              pressButton(0, undefined);
            });
          }
        });
      });
    }
  });


</script>